<% title "Admin Panel" %>
<% content_for :page_links do %>
  <link href="/css/admin.css" rel="stylesheet">
<% end %>

 <!--sidebar start-->
<%= render "shared/admin_sidebar", page_id: "dash"  %>

<!--sidebar end-->
<section id="admin-content">
  <section class="wrapper">
      
  </section>
</section>   
