<div id="settings-panel">
  <div class="settings-header">
    <h4><span>Settings</span></h4>
    <span>
      <a class="close-panel">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </a>
    </span>
  </div>
  </hr>
  <div class="switches">
    <ul class="switch-list">
      <li>
        <div class="switch-item">
          <h4>Surah Info</h4>
          <div class="switch-slider">
            <label class="switch"><input type="checkbox" id="surah-info-check" checked><span class="slider round"></span></label>
          </div>
        </div>
      </li>
      <li>
        <div class="switch-item">
          <h4>Translation Only</h4>
          <div class="switch-slider">
            <label class="switch"><input type="checkbox" id="translation-check"><span class="slider round"></span></label>
          </div>
        </div>
      </li>
      <li>
        <div class="switch-item">
            <h4>Notes</h4>
            <div class="switch-slider">
              <label class="switch"><input type="checkbox" id="notes-check" checked><span class="slider round"></span></label>
            </div>
        </div>
      </li>
      <li>
        <div class="switch-item">
          <h4>Night Mode</h4>
          <div class="switch-slider">
            <label class="switch"><input type="checkbox" id="night-mode-check"><span class="slider round"></span></label>
          </div>
        </div>
      </li>
    </ul>
  </div>
  </hr>
  <div class="font-sizes">
    <div class="title">
        <label>Font Sizes:</label>
    </div>
    <ul class="font-list">
      <li id="arabic-font-calib">
        <a class="font-minus btn btn-default">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </a>
        <div class="font-type"><span>Arabic Font</span></div>
        <a class="font-plus btn btn-default">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </li>
      <li id="kan-font-calib">
        <a class="font-minus btn btn-default">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </a>
        <div class="font-type"><span>Kannada Font</span></div>
        <a class="font-plus btn btn-default">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
