<% content_for :chapter_navigator do %>
  <%= render "shared/header_chapter_navigator" %>
<% end %>
<div class="content-body container-fluid ">
  <div class="row" id="chapter-title">
    <div class="title-kn">Contact Us</div>
  </div>
  <div class="content-page content-page-small">
  	<div class="content-page-contact">	
      <p><b>MADHYAMA PRAKASHANA</b></p>
      <p>SHAMSUDDIN MEMORIAL BUILDING</p>
      <p>HAMEED SHAH COMPLEX MAIN ROAD</p>
      <p>CUBBONPET BANGALORE-560002</p>
      <p><a href = "mailto: aputhige@gmail.com">CONTACT: aputhige@gmail.com</a><p>
    </div>  	
  </div>
</div>
