<div class="content-body container-fluid">
  <div class="row" id="chapter-title">
    <div class="title-kn">ಪ್ರಕಾಶಕರ ಅರಿಕೆ</div>
  </div>
  <div class="content-page content-page-small">
    <p>
      ವಿಶ್ವಮಾನವ ಕುಟುಂಬಕ್ಕೆ ವಿಶ್ವದೊಡೆಯನು ಕಳಿಸಿಕೊಟ್ಟಿರುವ ಅಧಿಕೃತ, ಸುರಕ್ಷಿತ ಹಾಗೂ ಅಂತಿಮ ಮಾರ್ಗದರ್ಶಿ ಸಂದೇಶವೇ ಕುರ್‌ಆನ್. ಮೂಲತಃ ಅರಬಿ ಭಾಷೆಯಲ್ಲಿರುವ ಈ ಗ್ರಂಥದ ಉಪದೇಶ, ಆಶಯ, ಆದರ್ಶಗಳು ವಿಶ್ವದ ಎಲ್ಲ ಮಾನವರಿಗೆ ತಲುಪಬೇಕಿದ್ದರೆ, ನೂರಾರು ಸಂಖ್ಯೆಯಲ್ಲಿರುವ ವಿವಿಧ ಮಾನವ ಭಾಷೆಗಳಲ್ಲಿ ಅದರ ಅನುವಾದ ಲಭ್ಯವಾಗಬೇಕು. ಇದಕ್ಕಾಗಿ ಕುರ್‌ಆನ್‌ಅನ್ನು ವಿವಿಧ ಭಾಷೆಗಳಿಗೆ ಅನುವಾದಿಸುವ ಪ್ರಕ್ರಿಯೆ, ಕುರ್‌ಆನಿನ ಆಗಮನವಾದ ಕೆಲವೇ ದಶಕಗಳೊಳಗೆ ಆರಂಭವಾಗಿತ್ತು. ಪ್ರವಾದಿ ಮುಹಮ್ಮದ್(ಸ) ಎಂಬ ಅಂತಿಮ ದೇವದೂತರ ಮೂಲಕ ಮನುಕುಲಕ್ಕೆ ತಲುಪಿದ ಈ ದಿವ್ಯಗ್ರಂಥದ ಪ್ರಥಮ ಅಧ್ಯಾಯವನ್ನು ಪ್ರವಾದಿವರ್ಯ(ಸ)ರ ಆಪ್ತ ಸಂಗಾತಿ ಸಲ್ಮಾನ್ ಫಾರ್ಸಿ(ರ) ಪರ್ಶಿಯನ್ ಭಾಷೆಗೆ ಅನುವಾದಿಸಿದ್ದರು.
    </p><p>
ಅಂದು ಅರಂಭವಾದ ಈ ಪ್ರಕ್ರಿಯೆ ಇಂದಿಗೂ ಮುಂದುವರಿದಿದೆ. ಈಗಾಗಲೇ ಜಗತ್ತಿನ ನೂರಕ್ಕೂ ಹೆಚ್ಚಿನ ಭಾಷೆಗಳಲ್ಲಿ ಕುರ್‌ಆನ್ ಅನುವಾದ ಕೃತಿಗಳು ಬಳಕೆಯಲ್ಲಿವೆ. ಕಾಲ ಕಳೆದಂತೆ ಕುರ್‌ಆನಿನ ಅನುವಾದ ಕೃತಿಗಳು ಲಭ್ಯವಿರುವ ಭಾಷೆಗಳ ಸಂಖ್ಯೆ ಹೆಚ್ಚುತ್ತಲೇ ಇದೆ. ಪರ್ಶಿಯನ್, ಉರ್ದು, ಇಂಗ್ಲಿಷ್ ಮುಂತಾದ ಭಾಷೆಗಳಲ್ಲಂತೂ ಕುರ್‌ಆನಿನ ಹತ್ತಾರು ಅನುವಾದಗಳು ಕಾಣಸಿಗುತ್ತವೆ. ನಮ್ಮ ನೆರೆಯ ಮಲಯಾಳಮ್ ಭಾಷೆಯಲ್ಲಿ ಈಗಾಗಲೇ ಹತ್ತಕ್ಕಿಂತ ಹೆಚ್ಚು ಕುರ್‌ಆನ್ ಅನುವಾದ ಕೃತಿಗಳು ಬೆಳಕು ಕಂಡಿವೆ. ಕನ್ನಡದಲ್ಲಿ ಕುರ್‌ಆನ್‌ನ ಪ್ರಥಮ ಸಂಪೂರ್ಣ ಅನುವಾದವು 1978ರಲ್ಲಿ ಪ್ರಕಟವಾಗಿತ್ತು. ಆ ಬಳಿಕ ಕನಿಷ್ಠ ಮೂರು ವಿಭಿನ್ನ ಅನುವಾದ ಕೃತಿಗಳು ಕನ್ನಡದಲ್ಲಿ ಪ್ರಕಾಶಿತವಾಗಿವೆ.
</p><p>
ಇದೀಗ ತಮ್ಮ ಕೈಯಲ್ಲಿರುವ ‘ಕನ್ನಡದಲ್ಲಿ ಕುರ್‌ಆನ್ ಅನುವಾದ’ ಎಂಬ ಈ ಕೃತಿಯು, ಜನ ಸಾಮಾನ್ಯರಿಗೆ ನಿರಾಯಾಸವಾಗಿ ಅರ್ಥವಾಗುವ ಸರಳ, ಸಹಜ ಹಾಗೂ ನೇರ ಶೈಲಿಯಲ್ಲಿ ಕುರ್‌ಆನ್‌ನ ಆಶಯವನ್ನು ಪರಿಚಯಿಸಬೇಕೆಂಬ ಸಂಕಲ್ಪದ ಫಲವಾಗಿದೆ. ಮೂಲ ಪಾಠಕ್ಕೆ ನಿಷ್ಠವಾಗಿದ್ದು ತೀರಾ ಸುಲಭ ಭಾಷೆಯಲ್ಲಿ ಕುರ್‌ಆನಿನ ಇಂಗಿತವನ್ನು ಸಾಮಾನ್ಯ ಕನ್ನಡಿಗರಿಗೆ ತಲುಪಿಸಲು ಈ ಕೃತಿಯಲ್ಲಿ ಶ್ರಮಿಸಲಾಗಿದೆ.
</p><p>
ಈ ಕೃತಿಯ ಕೊನೆಯ ಭಾಗದಲ್ಲಿ ಮಾಹಿತಿಗಳು, ಪರಿಚಯ ಮತ್ತು ಟಿಪ್ಪಣಿಗಳು ಎಂಬ ಮೂರು ಶೀರ್ಷಿಕೆಗಳಡಿಯಲ್ಲಿ ಬಹಳ ಮಹತ್ವಪೂರ್ಣವಾದ ಕೆಲವು ಸಂಗತಿಗಳನ್ನು ಅನುವಾದಕರು ಸ್ಪಷ್ಟಪಡಿಸಿದ್ದಾರೆ. ಓದುಗರು ಅನುವಾದದ ಅಧ್ಯಯನವನ್ನು ಆರಂಭಿಸುವ ಮುನ್ನ ಮಾಹಿತಿಗಳು ಮತ್ತು ಪರಿಚಯ ವಿಭಾಗವನ್ನೊಮ್ಮೆ ಓದಿಕೊಂಡರೆ, ಅನುವಾದವನ್ನು ಹೆಚ್ಚು ಪರಿಣಾಮಕಾರಿಯಾಗಿ ಗ್ರಹಿಸಲು ಅವರಿಗೆ ಸಾಧ್ಯವಾದೀತು.
</p><p>
ಈ ಕೃತಿಯಲ್ಲಿ ಯಾವುದೇ ಲೋಪದೋಷಗಳನ್ನು ಗಮನಿಸಿದವರು ಅಥವಾ ಈ ಕೃತಿಯ ಸುಧಾರಣೆಗೆ ಯಾವುದೇ ಸಲಹೆ ಸೂಚನೆಗಳನ್ನು ನೀಡ ಬಯಸುವವರು ನಮ್ಮ ವಿಳಾಸಕ್ಕೆ ಅಥವಾ ಅನುವಾದಕರ ಇಮೇಲ್ ವಿಳಾಸಕ್ಕೆ (aputhige@gmail.com) ಬರೆದು ತಿಳಿಸಬೇಕಾಗಿ ವಿನಂತಿ.
</p><p>
ಈ ಕೃತಿಯ ರಚನೆ ಮತ್ತು ಪ್ರಕಟಣೆಯ ಕಾರ್ಯದಲ್ಲಿ ಅನುವಾದಕರಿಗೂ ನಮಗೂ ನಮ್ಮ ಹಲವು ಹಿತೈಷಿಗಳು ಸಕ್ರಿಯ ಸಹಕಾರ ನೀಡಿದ್ದಾರೆ. ನಾವು ಅವರೆಲ್ಲರಿಗೂ ಋಣಿಗಳು. ಸತ್ಯ ಮತ್ತು ನ್ಯಾಯಗಳ ಆಧಾರದಲ್ಲಿ ಮಾನವ ಸಮಾಜಕ್ಕೆ ವಿಜಯ ಮತ್ತು ವಿಮೋಚನೆಯ ಖಾತರಿ ನೀಡುವ ಈ ಕುರ್‌ಆನಿನ ಸಂದೇಶ ಸರ್ವರಿಗೂ ತಲುಪಲಿ ಎಂದು ಹಾರೈಸುತ್ತೇವೆ.
</p><p>
ಪ್ರಕಾಶಕರು
    </p>
  </div>
</div>
